################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P2-WorldTrainer/P2-WorldTrainer/obj
/.vs/WorldTrainer/v16
/.vs
/P2-WorldTrainer/.vs/P2-WorldTrainer/v16
/P2-WorldTrainer/DataLayer/obj
/P2-WorldTrainer/DataLayer/bin/Debug/net5.0
/P2-WorldTrainer/P2-WorldTrainer/bin/Debug/net5.0
/P2-WorldTrainer/.vs/P2-WorldTrainer/DesignTimeBuild
/P2-WorldTrainer/P2-WorldTrainer/Views/Trainer
